nav {
  position: relative;
  /* top: 50%; 
  left: 50%; */
  width: 260px;
  /* margin: -78px 0 100px -180px; */
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav ul li {
  /* Sub Menu */
}
nav ul li a {
  display: block;
  background: #BFCDDB;
  padding: 10px 15px;
  color: #0B3162;
  text-decoration: none;
  -webkit-transition: 0.2s linear;
  -moz-transition: 0.2s linear;
  -ms-transition: 0.2s linear;
  -o-transition: 0.2s linear;
  transition: 0.2s linear;
  text-align: left !important;
}
nav ul li a:hover {
  background: #2980b9;
}
nav ul li a .fa {
  width: 16px;
  text-align: center;
  margin-right: 5px;
}
nav ul li a .badge {
  display: inline-block;
  background: #fff;
  /* IE Fallback */
  background: rgba(255, 255, 255, 0.2);
  padding: 3px 7px;
  color: #fff;
  font-size: 12px;
  font-weight: 800;
}
nav ul li ul li a {
  background: #fff;
  border-left: 4px solid transparent;
  padding: 10px 20px;
  text-align: left !important;
}
nav ul li ul li a:hover {
  background: #2980b9;
  border-left: 4px solid #3498db;
}

nav ul li ul li ul li a {
  padding: 10px 30px;
}
.active {
  background: #2980b9;
  border-left: 4px solid #3498db;
}
/* Float Right/Left */
.right {
  float: right;
}
.left {
  float: left
}

.NavSection{
  float:left;
  width:260px;
  height: calc(100% - 79px)!important;
  overflow-x:hidden;
  overflow-y:auto;
  position:absolute;
}