  /* DETAILS ///////////////////////////////////////////////////////////////////
  //                                                                          //
  //                    Last Edited By: Gareth Ambrose                        //
  //                        Date: 15 October 2009                             //
  //                                                                          //
  /////////////////////////////////////////////////////////////////////////// */
  
  /* BROWSERS //////////////////////////////////////////////////////////////////
  Internet Explorer (All versions) does not comply with any CSS standards and
  pretty much does whatever it wants so a separate stylesheet is used to provide
  for this - Navigation_IE.css. All general (standard) properties are detailed 
  here while the IE workarounds are in _IE. This stylesheet was developed using
  FireFox and works 100% with all versions.                                   */
    
  /* RESOLUTION ////////////////////////////////////////////////////////////////
  All pages are developed for use at a resolution of 1280x1024. At higher 
  resolutions page elements might not display correctly but at lower resolutions
  pages work fine. Since most monitors used will use either 1024x768 or 
  1280x1024 this is not a problem.                                            */
   
  /* TRICKS ////////////////////////////////////////////////////////////////////
  Line-height is used to enable text to be 'vertically centered'. The height 
  must equal the size of the container otherwise the text will be offcenter 
  (in most cases).                                                            */
   
  /* COLOURS ///////////////////////////////////////////////////////////////////
  Following the S4 colour scheme, blues, grays, black and white are used to 
  format page elements.                                                       */
  
  /* FONTS /////////////////////////////////////////////////////////////////////
  The default font scheme: black Arial-style font at 8pt. Variations involve 
  changing the font size, colour and weight. An Arial-style font is always 
  used.                                                                       */

  /* HYPERLINKS ////////////////////////////////////////////////////////////////
  The default hyperlink scheme: bold links with their color depending on the 
  background. Hyperlinks on a dark background are white while hyperlinks on a 
  bright background are dark/navy blue. Hyperlinks have no text-decoration 
  except for an underline when hovered over. Hyperlinks cannot be tabbed to.  */

  
   
  /* SECTION - HYPERLINKS //////////////////////////////////////////////////////
  /////////////////////////////////////////////////////////////////////////// */
  a, a:visited      { font-weight: bold;
                    text-decoration: underline; 
                    color: #0B3162; } 
  a:hover           { text-decoration: none; }

  a.footer, a.footer:visited  { color: #FFFFFF; }
  a.footer:hover    { color: #FFFFFF; }  
  /* //////////////////////////////////////////////////////////////////////// */
  /* //////////////////////////////////////////////////////////////////////// */


  /* SECTION - NAVIGATION MENU /////////////////////////////////////////////////
  /////////////////////////////////////////////////////////////////////////// */
  /* The list items are offset by 1px so that the borders overlap and form a  //
  single line, otherwise the menu appears messy and indented.                 */  
  div.navi li       { margin-left: -1px;
                    margin-top: -1px; }   
  
  /* Unordered lists are set to have no list style and no padding or margins  //
  so that automatic formatting and indentation is removed.                    */
  div.navi ul       { margin: 0;
                  	padding: 0;  
                    list-style-type: none;  }
  
  /* List items have their positions set to relative so that their child items 
  can position themselves according to the list items rather than to the page or 
  some other parent element.                                                  */                
  div.navi ul li    { position: relative; }

  /* Unordered lists are displayed as blocks so that they apear rectangular.
  Unordered lists have no display when their level is not visible. Each 
  subsequent level is given an offset relative to its supposed position so that 
  it appears to the side of its parent and in line. An unordered list's offset 
  is inherited from its parent.                                               */             
  div.navi ul       { display: block; }                  
  div.navi ul li ul { display: none;  }                  
  div.navi ul li:hover ul {display: block;
                    position: absolute;
                    top: 1px;
                    left: 142px;  
                    z-index:10;}
  div.navi ul li:hover ul li ul { display: none;  z-index:10;}
  div.navi ul li:hover ul li:hover ul { display: block; z-index:10;}
  div.navi ul li:hover ul li:hover ul li ul { display: none;  z-index:10;}
  div.navi ul li:hover ul li:hover ul li:hover ul { display: block; z-index:10;}
  div.navi ul li:hover ul li:hover ul li:hover ul li ul { display: none;  z-index:10;}
  div.navi ul li:hover ul li:hover ul li:hover ul li:hover ul { display: block; z-index:10;}

  /* List item hyperlinks keep the same appearance. These hyperlink are used to 
  form the actual menu items and so are very important. They are set to display 
  as blocks to gain a rectangular shape. When the user hovers over a hyperlink 
  its colours change.                                                         */  
  div.navi ul li a, 
  div.navi ul li a:visited, 
  div.navi ul li:hover ul li a, 
  div.navi ul li:hover ul li a:visited, 
  div.navi ul li:hover ul li:hover ul li a, 
  div.navi ul li:hover ul li:hover ul li a:visited,
  div.navi ul li:hover ul li:hover ul li:hover ul li a, 
  div.navi ul li:hover ul li:hover ul li:hover ul li a:visited,
  div.navi ul li:hover ul li:hover ul li:hover ul li:hover ul li a, 
  div.navi ul li:hover ul li:hover ul li:hover ul li:hover ul li a:visited { display: block;
  	                text-decoration: none; 
                    width: 140px;
                    min-width: 140px;
                    height: 20px;
                    min-height: 20px;
                    line-height: 20px;
                    text-align: center; 
                    border: 1px solid #0B3162;
                    background-color: #FFFFFF;
                    color: #0B3162; 
                   z-index:10;}
                                     
  div.navi ul li:hover a, 
  div.navi ul li:hover ul li:hover a, 
  div.navi ul li:hover ul li:hover ul li:hover a,
  div.navi ul li:hover ul li:hover ul li:hover ul li:hover a,
  div.navi ul li:hover ul li:hover ul li:hover ul li:hover ul li:hover a { text-decoration: none;
                    background-color: #BFCDDB;
                    color: #000000; z-index:10;}
                    
  /* Current hyperlinks (these show the path to page being viewed) keep the same
  appearance. They behave identically to the default menu hyperlinks but the 
  cursor is changed so that they don't appear to be hyperlinks. This makes users 
  less likely to click a link to a page they are already viewing.             */           
  div.navi ul li a.current, 
  div.navi ul li a.current:visited, 
  div.navi ul li:hover ul li a.current, 
  div.navi ul li:hover ul li a.current:visited, 
  div.navi ul li:hover ul li:hover ul li a.current, 
  div.navi ul li:hover ul li:hover ul li a.current:visited,
  div.navi ul li:hover ul li:hover ul li:hover ul li a.current,
  div.navi ul li:hover ul li:hover ul li:hover ul li a.current:visited,
  div.navi ul li:hover ul li:hover ul li:hover ul li:hover ul li a.current,
  div.navi ul li:hover ul li:hover ul li:hover ul li:hover ul li a.current:visited { background-color: #BFCDDB; 
                    cursor: default;
                    color: #0B3162; z-index:10;}
  
  /* Parent list items have an arrow on the right-hand side. This is done by
  using images as a background. The background also depends on whether the
  parent current or not.                                                      */  
  div.navi ul li a.parentnormal, 
  div.navi ul li:hover ul li a.parentnormal,
  div.navi ul li:hover ul li:hover ul li a.parentnormal,
  div.navi ul li:hover ul li:hover ul li:hover ul li a.parentnormal { background-image: url(../Images/ArrowBase.png); }
  div.navi ul li:hover a.parentnormal,
  div.navi ul li:hover ul li:hover a.parentnormal,
  div.navi ul li:hover ul li:hover ul li:hover a.parentnormal,
  div.navi ul li:hover ul li:hover ul li:hover ul li:hover a.parentnormal { background-image: url(../Images/ArrowHover.png);  }
  
  div.navi ul li a.parentcurrent, 
  div.navi ul li:hover ul li a.parentcurrent,
  div.navi ul li:hover ul li:hover a.parentcurrent,
  div.navi ul li:hover ul li:hover ul li:hover a.parentcurrent ul li a.parentcurrent { background-image: url(../Images/ArrowCurrent.png); 
                    cursor: default;
                    color: #0B3162; }
  div.navi ul li:hover a.parentcurrent,
  div.navi ul li:hover ul li:hover a.parentcurrent,
  div.navi ul li:hover ul li:hover ul li:hover a.parentcurrent,
  div.navi ul li:hover ul li:hover ul li:hover ul li:hover a.parentcurrent ul li:hover a.parentcurrent { background-image: url(../Images/ArrowCurrent.png); 
                    cursor: default;
                    color: #0B3162; }
   
  div.menunav {
  overflow-Y:scroll;
  list-style: none;
  margin: 0;
  padding: 0;
  float: left;
  width: 140px;
/* #3498DB*/
}
div.menunav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
div.menunav ul li {
  /* Sub Menu */
}
div.menunav ul li a 
 {
  display: block;
  background: #BFCDDB;
  padding: 10px 15px;
  color: #0B3162;
  text-decoration: none;
  -webkit-transition: 0.2s linear;
  -moz-transition: 0.2s linear;
  -ms-transition: 0.2s linear;
  -o-transition: 0.2s linear;
  transition: 0.2s linear;
}
div.menunav ul li a:hover {
  background: #2980b9;
}
div.menunav ul li a.parentcurrent{
    background-image: url(../Images/ArrowBase.png);
}
div.menunav ul li a.parentcurrent ul{
    display: block !important;
}
div.menunav ul li a .fa {
  width: 16px;
  text-align: center;
  margin-right: 5px;
}
div.menunav ul li a .badge {
  display: inline-block;
  background: #fff;
  /* IE Fallback */
  background: rgba(255, 255, 255, 0.2);
  padding: 3px 7px;
  color: #fff;
  font-size: 12px;
  font-weight: 800;
}
div.menunav ul li ul li a {
  background: #FFF;
  border-left: 4px solid transparent;
  padding: 10px 20px;
}
div.menunav ul li ul li a:hover
{
  background: #FFF;
  border-left: 4px solid #BFCDDB;
}


/* Current hyperlinks (these show the path to page being viewed) keep the same
  appearance. They behave identically to the default menu hyperlinks but the 
  cursor is changed so that they don't appear to be hyperlinks. This makes users 
  less likely to click a link to a page they are already viewing.             */           
  div.navitop ul li ul li a.current, 
 div.navitop ul li ul li a.current:visited, 
 div.navitop ul li ul li:hover ul li a.current, 
 div.navitop ul li:hover ul li a.current:visited, 
 div.navitop ul li:hover ul li:hover ul li a.current, 
 div.navitop ul li:hover ul li:hover ul li a.current:visited,
 div.navitop ul li:hover ul li:hover ul li:hover ul li a.current,
 div.navitop ul li:hover ul li:hover ul li:hover ul li a.current:visited,
 div.navitop ul li:hover ul li:hover ul li:hover ul li:hover ul li a.current,
 div.navitop ul li:hover ul li:hover ul li:hover ul li:hover ul li a.current:visited { 
     /*background-color: #BFCDDB;*/ 
                    cursor: default;
                    border-left: 4px solid #BFCDDB; }
 div.navitop ul li a.parentcurrent{
     cursor: default;
     color: #2980b9; 
 } 
div.navitop ul li ul li a.parentnormal,
div.navitop ul li ul li a.parentnormal:visited, 
div.navitop ul li ul li:hover ul li a.parentnormal, 
div.navitop ul li:hover ul li a.parentnormal:visited, 
div.navitop ul li:hover ul li:hover ul li:hover ul li:hover ul li a.parentnormal:visited{
    cursor: default;
    border-left: 4px solid #BFCDDB;
}
/*.current{
   background: #063774;
  border-left: 4px solid #BFCDDB;  
}*/
.subMenu {
  display: none;
}
@keyframes topFadeIn {
    from {}
    to {}
  
  0% {
    opacity: 0;
    transform: translate(0px, -70%) scale(1, 0);
    -ms-transform: translate(0px, -70%) scale(1, 0);
    -webkit-transform: translate(0px, -70%) scale(1, 0);
  }
  75% {
    opacity: .4;
  }
  100% {
    opacity: .8;
    transform: translate(0px, 0%) scale(1, 1);
    -ms-transform: translate(0px, 0%) scale(1, 1);
    -webkit-transform: translate(0px, 0%) scale(1, 1);
  }
}
.xpand-list + ul {
  display: block;
  animation-name: topFadeIn;
  animation-duration: 1s;
}
  
/* div.nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  float: left;
  width: 140px;
}
div.nav li{
  margin-left: -1px;
   margin-top: -1px;
  }

div.nav ul li {
     position: relative; 
   Sub Menu 
}

.slideMenuShow{
    display:block;
    transition: 0.5s
}
.slideMenuShow a{
    display:block;
    transition: 0.5s
}
.slideMenuHide{
    display: none;
    transition: 0.5s
    
}


div.nav ul li a {
  display: block;
  background: #2f669a;
  padding: 10px 15px;
  color: #fff;
  text-decoration: none;
  -webkit-transition: 0.2s linear;
  -moz-transition: 0.2s linear;
  -ms-transition: 0.2s linear;
  -o-transition: 0.2s linear;
  transition: 0.2s linear;
}
div.nav ul li a:hover {
  background: #2980b9;
  background-color: #BFCDDB; 
  cursor: default;
  color: #0B3162; z-index:10;
}
div.nav ul li a .fa {
  width: 16px;
  text-align: center;
  margin-right: 5px;
}
div.nav ul li a .badge {
  display: inline-block;
  background: #fff;
   IE Fallback 
  background: rgba(255, 255, 255, 0.2);
  padding: 3px 7px;
  color: #fff;
  font-size: 12px;
  font-weight: 800;
}
div.nav ul li ul li a {
  background: #FFFFFF;
  border-left: 4px solid transparent;
  padding: 10px 20px;
  color: #0B3162
}
div.nav ul li ul li a:hover {
  background: #FFFFFF;
  border-left: 4px solid #3498db;
}
 Float Right/Left 
.right {
  float: right;
}
.left {
  float: left;
}*/


/*

.xmenu-container {
  font-family: 'Saira', sans-serif;
  display: block;
  width: max-content;
}
.xmenu-container ul {
  list-style-type: none;
}
.xmenu-title {
  font-size: 1.5em;
}
.xmenu-sub-menu {
  display: none;
  width: max-content;
}

.menu-container li:not(.stick):hover {
  background: yellow;
  position: relative;
}

.menu-container li:not(.stick):hover .sub-menu { 
.xmenu-container span.xpand-list + ul {
  display: block;
  animation-name: topFadeIn;
  animation-duration: 1s;
}

.xmenu-container li:hover .xmenu-sub-menu li:hover {
  background: orange;
}

.xmenu-active ul {
  display: block;
}
.xmenu-sub-menu li.xmenu-active
{
  text-decoration: underline;
  font-weight: bold;
}*/
/*.xmenu-sub-menu li.xmenu-active:after
{
  content: " >";
}*/
  
  /* //////////////////////////////////////////////////////////////////////// */
  /* //////////////////////////////////////////////////////////////////////// */

  /* SECTION - PAGE ELEMENTS ///////////////////////////////////////////////////
  /////////////////////////////////////////////////////////////////////////// */                  	
  br                { line-height: 10px;  }
  br.long           { line-height: 50px;  }
  br.short          { line-height: 20px;  }
  br.veryshort      { line-height: 14px;  }
  
  p                 { margin-top: 10px;
                    margin-bottom: -10px; }
  img               { border: 1px solid #0B3162;  }
  
  hr                { color: #0B3162; 
                    border: 1px solid #0B3162;  }
  
  input             { font-size: 10pt; }
  input.button      { width: 100px;
                    height: 21px;
                    font-size: 8pt;
                    font-weight: bold;  }
  input.checkbox    { line-height: 150px; }
  input.file        { width: 190px; 
                    height: 20px; }
  input.text        { height: 20px;
                    line-height: 15px;  } 
    
  select            { font-size: 10pt; }  
  select.veryshort  { width: 56px; 
                    max-width: 54px;  }
  select.short      { width: 106px; 
                    max-width: 104px; }
  select.standard   { width: 197px; 
                    max-width: 190px; }
  select.long       { width: 268px; 
                    max-width: 266px; }
                    
  textarea          { height: 100px;
                    font-family: Arial, Sans-Serif;
                    font-size: 10pt; }                        
    
  table             { border: #0B3162 1px solid;
                    text-align: left; }
  table.short       { width: 450px; }
  table.standard    { width: 650px; }
  table.long        { width: 810px; }
  table.longer        { width: 950px; }
  
  td                { vertical-align: middle; }  
  td.tiny           { width: 30px;  }
  td.half           { width: 50%; }
  td.short          { width: 162px; }
  td.small          { width: 70px;  }
  td.veryshort      { width: 90px;  }  
  td.header         { height: 20px;
                    text-align: center;
                    font-weight: bold;
                    border: #0B3162 1px solid; 
                    background-color: #2a2f43;
                    color: #fff; }
  td.subheader      { text-align: center;
                    border-bottom: 1px solid black;
                    font-weight: bold;
                    word-wrap: normal;  }
  td.subheaderclear { text-align: center;
                    font-weight: bold;
                    word-wrap: normal;  }
  td.noborder       { border: none; }
  td.bleft          { border-left: 1px solid black; }
  
  /* //////////////////////////////////////////////////////////////////////// */
  /* //////////////////////////////////////////////////////////////////////// */

  /* SECTION - PAGE LAYOUT/DESIGN //////////////////////////////////////////////
  /////////////////////////////////////////////////////////////////////////// */
  body              { width: 100%; 
                    height:100%; 
                    padding: 0; 
                    margin: 0; 
                    font-family: Arial, Sans-Serif;                     
                  	font-size: 10pt;
                  	font-weight: normal;
                    background-color: #FFFFFF;
                  	color: #000000; }
                  	
  html              { overflow: auto; }
  
  span.heading      { color: #0B3162; 
                    text-align: left;
                    font-weight: bold;  }
  span.note         { color: #FF0000; }

  .rowA             { background-color: #BFCDDB ;  }
  .rowB             { background-color: #E5E5E5 ;  }
  .sky              { background-color: #54B2FF;  }
  .green            { background-color: #14FF2F;  }
  .lightgreen       { background-color: #DBFF3A;  }
  .yellow           { background-color: #FFF65B;  }
  .orange           { background-color: #FFC55B;  }
  .red              { background-color: #FF353F;  }
  
  .backred              { background-color: #FF353F;  }
  .backyellow              { background-color: #FFF65B;  }
  
  .bold             { font-weight: bold;  }
  .underline        { text-decoration: underline; }
  
  .noborder         { border: none; }
                    
  .center           { text-align: center; }
  .left             { text-align: left; }
  .right            { text-align: right;  }
  
  .fleft            { float: left;  }
  .fright           { float: right; }
  
  .vcenter          { vertical-align: middle; }
  .vbot             { vertical-align: bottom; }
  .vtop             { vertical-align: top;  }
  
  .veryshort        { width: 50px;  }
  .short            { width: 90px;  }
  .standard         { width: 186px; }
  .long             { width: 262px; }
  .verylong         { width: 302px; }
  .ultralong        { width: 463px; }
  .minute           { width: 40px;  }    
  .hour             { width: 40px;  }    
  .day              { width: 40px;  }      
  .month            { width: 50px;  }    
  .year             { width: 55px;  }
  
  .error             { color: #FF0000; }
                    
  /* These are the settings for the page banner.                              */
  div.banner        { min-width: 970px; 
                    height: 48px;                         
                    min-height: 48px;
                    line-height: 48px;
                    text-align: center;
                    font-size: 36px;
                    margin: 2px;
                    background-color: #51AFFF;
                    color: #FFFFFF; }

  /* The page content is situated in a central container. If the content of the 
  container stretches past its bounds the container gains scrollbars and the 
  container itself becomes scrollable, rather than the page so that the 
  navigation menu is readily accessible. Page content can be set to display 
  either in the center or on the left and right hand sides of the container.  */                
  div.contentcontainer  { min-width: 970px;   
                    text-align: center;        
                    padding-left: 2px;        
                    padding-right: 2px; } 
                  
  div.content       { overflow-Y: scroll;
                    height: 774px;
                    min-height: 778px;
                    padding-left: 15px;
                    padding-right: 15px;
                    border: 1px solid #51AFFF;  }
                  
  div.contentflow   { min-width: 370px;
                    margin: auto;
                    text-align: center; }  
                   
  /* Occassionally it is necessary to display error messages or alerts. These 
  are displayed in red and are center-aligned.                                */               
  div.error         { min-height: 20px;
                    line-height: 20px; 
                    text-align: center;
                    border: #FF0000 2px solid;  
                    color: #FF0000; } 
  
  /* The page footer is divided into left and right containers which separate 
  the footer's elements.                                                      */
  div.footer        { min-width: 970px; 
                    height: 25px;                          
                    min-height: 24px;
                    line-height: 25px;
                    margin: 2px;
                    background-color: #51AFFF;
                    color: #FFFFFF; }
   
  div.footerleft    { float: left;
                    height: 25px; 
                    padding-left: 5px;  } 
                    
  div.footerright   { float: right;
                    height: 25px;
                    padding-right: 5px; }
 
  /* The navigation menu is floated to the left of the content container. It is 
  divided into a dynamic menu section (navitop) and the current user and Logout
  items.                                                                      */
  div.navi          { float: left;
                    width: 140px;
                    min-width: 140px;
                    height: 774px;
                    min-height: 778px;
                    border: 1px solid #295885;  }
  
  div.navistrip     { position: absolute;
                    top: 30px;
                    left: 15px;
                    font-weight: bold;
                    color: #FFFFFF; }
  
  div.navitop       { height: 712px; 
                    max-height: 707px;  }
  
  /*div.navitop       { height: 716px; 
                    max-height: 711px;  }*/
                              
  /* Occassionally it is necessary to display notifications. These are are 
  displayed in dark/navy blue and are center-aligned.                         */               
  div.notify        { min-height: 20px;
                    line-height: 20px; 
                    text-align: center;
                    border: #0B3162 2px solid;  
                    color: #0B3162; } 
  

/* Define the hover highlight color for the table row */
#parent_table tbody .parentRow:hover {
/*     //background-color: white;*/
     background-color: #063774 !important;
     color: White;
     cursor: pointer; cursor: hand;
 }
 
 /* Remove the table cell current background colour on hover*/
#parent_table .parentRow:hover td{background-color: transparent; 
   text-decoration: none;}

/*.sub_table
{width: 900px !important;}*/
/*#parent_table
{width: 920px !important;}*/

#collapseAll:hover{cursor: pointer; cursor: hand;}

#parent_table{  
  width:100%;
  max-width:1100px;
  border-spacing: 0px; 
  font-weight:bold;
  color:#A9A9A9;
  
  
 }
#parent_table tr{
    height:35px;
    border-bottom:rgba(0,0,0,.05) 1px solid;
    color: #000;
    border: #0B3162 1px solid;
  }
  
#parent_table .parentRow td{    
    box-sizing:border-box;
    padding-left:30px;
  }

#parent_table .titleTr{
  height:70px;   
  border:0px solid;
  text-align: center;
  font-weight: bold;
  background-color: #BFCDDB;
  color: #0B3162;
}

#parent_table>.headingTr{
    height:30px;
    background:#418a95 + #222;
    color:#f6f3f7; 
    font-size:9pt;
    border:0px solid;
    color: #000;
    
    font-weight: bold;
    word-wrap: normal;
}  


.sub_table{  
  width:100%;
  max-width:1100px;
  border-spacing: 0px; 
  font-weight:bold;
  color:#A9A9A9;
 }
 
.sub_table tr{
    height:35px;
    border-bottom:rgba(0,0,0,.05) 1px solid;
    color: #000;
    border: #0B3162 1px solid;
    
  }
  
.sub_table td{    
    box-sizing:border-box;
    padding-left:0px;
  }

#parent_table > tbody > tr > td > div > table > thead > tr.headingTr{
    height:50px;
    color:#f6f3f7; 
    font-size:9pt;
    border:0px solid;
    color: #000;
    
    font-weight: bold;
    word-wrap: normal;
    
} 

.sub_table th{background-color:#F9F9F9;}

.infobox {
         border:1px;
         width: 950px;
         margin: auto;
         border:1px solid #999;
}

.infobox>.head{
             text-align:center;
             background:#2a2f43;
             padding:.5em;
             font-weight:bold;
             font-size:1.1em;
             color:#fff;
            }
.infobox >.body {
             padding:.5em;
             border-top:1px solid #999;
             border-radius:0 0 .6em .6em;
             text-align:left;
             max-height:29em;
             height:29em;
            }
 
/**remove border on datepicker image**/
img.ui-datepicker-trigger {
    border: none;
}

/**devextreme table header*/
#gridContainerSupplier tr.dx-row.dx-header-row.dx-column-lines{
   background: #5f82a5;
   color:#fff;
}

#gridContainerSupplier .dx-datagrid-search-panel.dx-texteditor.dx-texteditor-empty.dx-widget.dx-textbox.dx-searchbox.dx-show-clear-button{
    float: right;
}
#gridContainerInternalOrderList .dx-datagrid-headers.dx-datagrid-nowrap tr:first-child {
   background:#295885; 
}

/*#gridContainerInternalOrderList .dx-datagrid-headers.dx-datagrid-nowrap {
   background:red; 
}*/

   .loader,
            .loader:after {
              border-radius: 50%;
              width: 10em;
              height: 10em;
            }
           .loader {
                font-size: 10px;
                text-indent: -9999em;
                border-top: 1.1em solid rgba(41,88,133, 0.2);
                border-right: 1.1em solid rgba(41,88,133, 0.2);
                border-bottom: 1.1em solid rgba(41,88,133, 0.2);
                border-left: 1.1em solid #295885;
                -webkit-animation: load8 1.1s infinite linear;
                animation: load8 1.1s infinite linear;
                position: fixed;
                left: 50%;
                top: 50%;
                z-index: 9;
                transform: translate(-50%, -50%);
                -o-transform: translate(-50%, -50%);
                -moz-transform: translate(-50%, -50%);
                -webkit-transform: translate(-50%, -50%);
            }
            @-webkit-keyframes load8 {
              0% {
                -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
              }
              100% {
                -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
              }
            }
            @keyframes load8 {
              0% {
                -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
              }
              100% {
                -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
              }
            }

#gridContainerInternalOrderList .dx-datagrid-rowsview.dx-datagrid-nowrap.dx-scrollable.dx-scrollable-customizable-scrollbars.dx-scrollable-both.dx-scrollable-simulated.dx-visibility-change-handler{
    font-size: smaller;
}

.dx-datagrid .dx-datagrid .dx-datagrid-headers {
    background-color: #295885 !important;
}

tr.dx-row.dx-column-lines.dx-header-row{
    background-color: #295885 !important;
    color: white;
}

#DCSuppliers_dxDataGrid .dx-datagrid-rowsview{
    overflow-y: overlay !important;
}

.disable{
        opacity: 0.5;
        pointer-events: none;
    }
.hide{
    display: none;
 }
 
 span.dx-header-filter.dx-header-filter-empty {
    color: white;
}


.dx-popup-normal .dx-popup-content .dx-scrollable-container {
    overflow-y: scroll !important;
    height: 250px !important;
}

.dx-popup-content .dx-scrollable-scroll-content {
    visibility: hidden !important;
}

.dx-datagrid .dx-scrollable-container {
    height: auto !important;
}
div.navitop {
    height: calc(100% - 79px) !important;
}
 
/*//hide the save button*/


  /* //////////////////////////////////////////////////////////////////////// */
  /* //////////////////////////////////////////////////////////////////////// */