  /* DETAILS ///////////////////////////////////////////////////////////////////
  //                                                                          //
  //                    Last Edited By: Gareth Ambrose                        //
  //                        Date: 28 February 2008                            //
  //                                                                          //
  /////////////////////////////////////////////////////////////////////////// */
  
  /* DESCRIPTION ///////////////////////////////////////////////////////////////
  This is stylesheet is used to generate a printer friendly version of each 
  page. What it does is hide all the page layout elements (such as the 
  navigation menu, banner and footer) and reduces each page to only the basic 
  design elements. FF and IE both treat this differently so the actual printouts
  are not always the same as the pages themselves. IE loses styling but 
  stretches pages to the printer width and FF sticks to the exact styles and 
  widths - FF actually does what it is meant to... IE doesn't... no surprise. */
  
  /* IMPORTANT NOTE ////////////////////////////////////////////////////////////
  These are a rough style for printing. There are elements listed here which are
  not used or should not be included. Also not all the elements have been 
  checked. Since this is not a primary function of the intranet this is not an 
  issue but be aware of this nonetheless.                                     */

  body              { font-family: Arial, Sans-Serif;
                  	font-size: 8pt;
                  	font-weight: normal;
                    background-color: #FFFFFF;
                  	color: #000000;  }
                  	
  div.navi          { display: none;  }
  div.navistrip     { display: none;  }
  div.banner        { display: none;  }
  div.footer        { display: none;  }

  /* New elements. */
  #topbar           {display: none;}
  #sidebar_left     {display: none;}
  div.panel-heading {display: none;}
  p {display: none;}
  .note             {display: none;}
  div.BottomText  { display: none;}
  
  div.contentcontainer  { text-align: center;              
                    border: none; } 
                  
  div.content       { overflow: visible;             
                    border: none; }
              
  input             { font-size: 9pt; }
  input.button      { width: 100px;
                    height: 21px;  
                    font-size: 8pt;
                    font-weight: bold;  }
  input.text        { height: 15px; 
                    line-height: 15px;  }
  input.veryshort   { width: 50px;  }
  
  .short            { width: 100px; }
  .standard         { width: 186px; }
  .long             { width: 237px; }      
  .minute           { width: 8px; }    
  .hour             { width: 8px; }    
  .day              { width: 8px; }      
  .month            { width: 16px;  }    
  .year             { width: 20px;  }                   
  
  option,             
  select            { height: 18px;
                    font-size: 9pt; }
  select.short      { width: 106px;
                    max-width: 104px; }
  select.standard   { width: 192px;
                    max-width: 190px; }
  select.long       { width: 243px;
                    max-width: 241px; }
                    
  textarea          { height: 100px;
                    font-family: Arial, Sans-Serif;
                    font-size: 8pt; }                        
  
  span.note         { color: #FF0000; }
  span.heading      { color: #0B3162; 
                    text-align: left;
                    font-weight: bold;  }
                    
  table             { border: #0B3162 1px solid; 
                    text-align: left; }
  table.noborder    { border: none; }
  table.short       { width: 400px; }
  table.standard    { width: 600px; }
  table.long        { width: 100%; position: fixed; top: 60px;  left: 50px;     }
  
  td                { vertical-align: middle; }  
  td.half           { width: 50%; }
  td.short          { width: 137px; }
  td.veryshort      { width: 90px;  }  
  td.header         { height: 20px;
                    text-align: center;
                    font-weight: bold;
                    border: #0B3162 1px solid; 
                    background-color: #BFCDDB;
                    color: #0B3162; }
  td.subheader      { text-align: center;
                    border-bottom: 1px solid black;
                    font-weight: bold;  }
  td.subheaderclear { text-align: center;
                    font-weight: bold;  }
  
  form              { margin: 0px;  }
  p                 { margin: 0;  }
  
  .hide             { display: none;  }