#calendarDiv
{
    padding: 10px;
    float: left;
    border: none;
    text-align:center;
}

#bookDiv
{
    padding: 10px;
    text-align: left;
    float: left;
    border: none;
    display: none;
}

#bookDiv table
{
    border: none;
}

#editDiv
{
    padding: 10px;
    text-align: left;
    float: left;
    border: none;
    display: none;
}

#editDiv table
{
    border: none;
}

#boardroom_selector
{
    display: block;
    text-align: left;
    padding: 10px;
}