/*html, body {
    margin: 0px;
    padding: 0px;
    font-family: 'Segoe UI', Helvetica, 'Droid Sans', Tahoma, Geneva, sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: #565656;
}

body,
body.dx-theme-generic-typography {
    background-color: #efefef;
}

h1, h2, h3, h4, h5, h6 {
    font-family:'Segoe UI Light', 'Helvetica Neue Light', 'Segoe UI', 'Helvetica Neue', Helvetica, 'Trebuchet MS', 'Droid Sans', Tahoma, Geneva, sans-serif;
    font-weight: 200;
    font-size: 18px;
    margin: 0px;
}*/

.header {
    position: relative;
    height: 62px;
    background-color: #ffffff;
    padding: 0px 40px;
}

.line {
    background-color: #707070;
    height: 5px;
    margin: 0 0 20px;
}

.header .content {
    width: 950px;
    margin: 0 auto;
    padding: 0px;
}

.header .content .button.dx-button .dx-button-text{
    color: rgb(102, 102, 102);
}

.header .content .button.dx-button {
    float: right;
    margin: 13px 0 0 0;
    -webkit-box-shadow: inset 0 1px rgba(255,255,255,.35),0 1px 1px rgba(0,0,0,.1);
    -moz-box-shadow: inset 0 1px rgba(255,255,255,.35),0 1px 1px rgba(0,0,0,.1);
    box-shadow: inset 0 1px rgba(255,255,255,.35),0 1px 1px rgba(0,0,0,.1);
    background-color: #eae9e9;
    background-repeat: no-repeat;
    background-image: -webkit-linear-gradient(-90deg,#eae9e9 0%,#e0e0df 100%);
    background-image: -moz-linear-gradient(-90deg,#eae9e9 0%,#e0e0df 100%);
    background-image: -ms-linear-gradient(-90deg,#eae9e9 0%,#e0e0df 100%);
    background-image: -o-linear-gradient(-90deg,#eae9e9 0%,#e0e0df 100%);
    background-image: linear-gradient(180deg,#eae9e9 0%,#e0e0df 100%);
    border: 1px solid rgba(0,0,0,.15);
}

.header .content .button.dx-button.dx-state-hover {
    background-color: #f8f8f8;
    background-repeat: no-repeat;
    background-image: -webkit-linear-gradient(-90deg,#f8f8f8 0%,#ededed 100%);
    background-image: -moz-linear-gradient(-90deg,#f8f8f8 0%,#ededed 100%);
    background-image: -ms-linear-gradient(-90deg,#f8f8f8 0%,#ededed 100%);
    background-image: -o-linear-gradient(-90deg,#f8f8f8 0%,#ededed 100%);
    background-image: linear-gradient(180deg,#f8f8f8 0%,#ededed 100%);
}

.header .content .button.dx-button.dx-state-active {
    background: #dcdcdc;
    -webkit-box-shadow: inset 0 1px 3px rgba(255,255,255,.1);
    -moz-box-shadow: inset 0 1px 3px rgba(255,255,255,.1);
    box-shadow: inset 0 1px 3px rgba(255,255,255,.1);
    border: 1px solid rgba(0,0,0,.2);
}


.header .content  a.logo,
.header .content  a.logo:link,
.header .content  a.logo:visited,
.header .content  a.logo:hover,
.header .content  a.logo:active {
    text-decoration: none;
    display: block;
    height: 62px;
    color: #8c8c8c;
    font-size: 24px;
    background-image: url("images/logo.png");
     background-repeat: no-repeat;
 }

.header .content  div.logo {
   padding:14px 0 0 0;
}

.menu-content {
    background-color: #707070;
    border: 0 solid #606060;
    border-top-width: 1px;
    min-height: 4px;
    min-width: 950px;
    padding: 0 40px;
}

.menu-content .democase-menu {
    color: #ffffff;
    width: 950px;
    margin: 0 auto;
    padding: 30px 0;
}

.menu-content .democase-menu:after {
    content: " ";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.menu-content .democase-menu h5,
.menu-content .democase-menu h6 {
    font-weight: 400;
    text-transform: none;
    padding: 0 0 10px 0;
}

.menu-content .democase-menu h6 {
    font-family: 'Segoe UI', Helvetica, 'Droid Sans', Tahoma, Geneva, sans-serif;
    font-weight: 700;
    font-size: 12px;
    padding: 0;
}

.menu-content .democase-menu .category {
    height: 100%;
    width: 25%;
    float: left;
}

.category .subcategory {
    padding: 0 0 20px 0;
}

.category h5 {
    margin: 0px;
}

.category .subcategory h6 {
    margin: 0px;
}

.category .subcategory ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.category .subcategory ul li {
    line-height: 18px;
}

.category .subcategory ul li a {
    cursor: pointer;
    text-decoration: none;
    color: white;
}

.category .subcategory ul li.active a,
.category .subcategory ul li a:hover {
    background-color: #B0B0B0;
    margin: -2px -3px;
    padding: 2px 3px;
}

.category .subcategory ul li.active a {
    background-color: #ffffff;
    color: #707070;
}

.category .subcategory ul li a:after {
    position: relative;
    display: inline-block;
    background-color: #f05b41;  
    height: 12px;
    top: -2px;
    left: 5px;
    margin: 0 5px 0 0;
    font-size: 10px;
    line-height: 10px;
    padding-left: 2px;
    padding-right: 2px;
}
            
.category .subcategory ul li.isnew a:after {
    content: 'New';
    width: 22px;
}

.category .subcategory ul li.isupdated a:after {
    content: 'Upd';
    width: 21px;
}

.title {
    height: 45px;
    line-height: 45px;
    margin: 0 auto;
    padding: 0 40px;
    width: 950px;
}

#dx-viewport .title h1,
#dx-viewport .dx-theme-generic-typography .title h1, 
#dx-viewport .title h2,
#dx-viewport .dx-theme-generic-typography .title h2 {
    display: inline;
    font-size: 30px;
    color: #565656;
    text-transform: none;
}

#dx-viewport .title h2, #dx-viewport.dx-theme-generic-typography .title h2 {
    color: #f05b41;
    padding-left: 10px;
}

#dx-viewport .title.min-font h1, #dx-viewport .title.min-font h2 {
    font-size: 26px;
}

.content.containerPlaceholder {
    margin: 0 auto;
    padding: 0 40px;
    width: 950px;
    position: relative;
}

.pane.dark {
    background-color: #303030;
    border-color: #303030;
    color: #818181;
}

.pane {
    position: relative;
    background-color: #ffffff;
    border: 1px solid #cfcfcf;
    border-radius: 3px;
    width: 850px;
    min-height: 440px;
    padding: 50px;
    margin: 0 auto;
    box-shadow: 0px 1px 3px 0px #e3e3e3;
    box-shadow: 0px 1px 3px 0px rgba(112,112,112,0.05);
}

.pane .long-title {
    position: absolute;
    top: -40px;
    text-align: center;
    width: 850px;
    overflow: hidden;
}

.pane .long-title h3 {
    font-size: 28px;
    font-weight: 200;
}

.pane .credits {
    color: rgba(128, 128, 128, 0.75);
    position: absolute;
    bottom: -30px;
    right: 30px;
}

.pane > div {
    position: relative;
}

.pane svg {
    margin: 0 auto;
}

.tab {
    font-size: 14px;
    font-family: 'Segoe UI', 'Helvetica Neue', 'Trebuchet MS', Verdana;
}

.containerPlaceholder .light-theme {
    background: url('images/Light.png') no-repeat;
    z-index: 1;
    right: 180px;
    color: #565656;
}
    
.containerPlaceholder .light-theme.active {
    background: url('images/Light-Active.png') no-repeat;
    z-index: 2;
}
    
.containerPlaceholder .dark-theme {
    background: url('images/Dark.png') no-repeat;
    right: 70px;
    z-index: 1;
    color: #949494;
}
    
.containerPlaceholder .dark-theme.active {
    z-index: 2;
}
    
.containerPlaceholder .light-theme .text, .containerPlaceholder .dark-theme .text {
    margin-top: 3px;
}
.containerPlaceholder .light-theme, .containerPlaceholder .dark-theme {
    width: 135px;
    height: 23px;
    background-position: center;
    background-size: cover;
    cursor: pointer;
    position: absolute;
    top: -22px;
    text-align: center;
}
        